In [3]:
import pandas as pd

dataset_filename = "assets/avito_dataset.xlsx"

df = pd.read_excel(dataset_filename, sheet_name="Sheet1")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19803 entries, 0 to 19802
Data columns (total 71 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ссылка сбора                      19803 non-null  object
 1   Продавец                          19803 non-null  object
 2   Контактное лицо                   13210 non-null  object
 3   Тип продавца                      19803 non-null  object
 4   Пол продавца                      19803 non-null  object
 5   Заголовок                         19803 non-null  object
 6   Описание                          19803 non-null  object
 7   Цена                              19803 non-null  int64
 8   Регион                            19803 non-null  object
 9   Город                             19803 non-null  object
 10  Метро                             19706 non-null  object
 11  Метро2                            10326 non-null  object
 12  Метро. Время                      10326 non-null  object
 13  Район                             9444 non-null   object
 14  Адрес                             19803 non-null  object
 15  Категория                         19803 non-null  object
 16  Подкатегория                      19803 non-null  object
 17  Ссылка на объявление              19803 non-null  object
 18  Дата объявления                   19803 non-null  object
 19  Номер объявления                  19803 non-null  int64
 20  Ссылки на картинки                19770 non-null  object
 21  Широта                            19803 non-null  float64
 22  Долгота                           19803 non-null  float64
 23  Параметры                         19803 non-null  object
 24  Сегодня просмотров                13074 non-null  float64
 25  Всего просмотров                  19516 non-null  float64
 26  Продавец. Ссылка                  19803 non-null  object
 27  Продавец. Компания                19803 non-null  object
 28  Продавец. Магазин                 19803 non-null  object
 29  Продавец. Регистрация             4020 non-null   object
 30  Продавец. Активные объявления     19803 non-null  object
 31  Продавец. Завершенные объявления  19803 non-null  object
 32  Продавец. Продажи с доставкой     1753 non-null   object
 33  Продавец. Рейтинг                 3581 non-null   float64
 34  Продавец. Кол-во отзывов          19803 non-null  int64
 35  Можно написать сообщение          19803 non-null  object
 36  Статус                            19803 non-null  object
 37  Количество комнат                 19803 non-null  object
 38  Общая площадь                     19803 non-null  object
 39  Общая площадь, число              19803 non-null  object
 40  Жилая площадь                     12703 non-null  object
 41  Этаж                              19803 non-null  object
 42  Жилая площадь, число              12703 non-null  object
 43  Санузел                           11822 non-null  object
 44  Балкон или лоджия                 13329 non-null  object
 45  Окна                              8550 non-null   object
 46  Высота потолков, м                6748 non-null   float64
 47  Ремонт                            7764 non-null   object
 48  Способ продажи                    10918 non-null  object
 49  Мебель                            3613 non-null   object
 50  Вид сделки                        7890 non-null   object
 51  Техника                           1796 non-null   object
 52  Тип дома                          17080 non-null  object
 53  Этажей в доме                     19803 non-null  int64
 54  Год постройки                     5971 non-null   float64
 55  Пассажирский лифт                 7886 non-null   object
 56  Парковка                          8759 non-null   object
 57  Двор                              8111 non-null   object
 58  Грузовой лифт                     6595 non-null   object
 59  В доме                            2064 non-null   object
 60  Тёплый пол                        567 non-null    object
 61  Дополнительно                     1458 non-null   object
 62  Отделка                           11114 non-null  object
 63  Название новостройки              11987 non-null  object
 64  Корпус, строение                  9924 non-null   object
 65  Тип участия                       11956 non-null  object
 66  Срок сдачи                        9964 non-null   object
 67  Площадь кухни                     15943 non-null  object
 68  Площадь кухни, число              15943 non-null  object
 69  Тип комнат                        9084 non-null   object
 70  Запланирован снос                 8 non-null      object
dtypes: float64(7), int64(4), object(60)
memory usage: 10.7+ MB

In [8]:
df.isnull().sum()

Ссылка сбора                0
Продавец                    0
Контактное лицо          6593
Тип продавца                0
Пол продавца                0
                        ...
Срок сдачи               9839
Площадь кухни            3860
Площадь кухни, число     3860
Тип комнат              10719
Запланирован снос       19795
Length: 71, dtype: int64