# AVITO PROJECT

## Team Member

* Sandikha Rahardi - РИМ 130908

## Load Data

### Import Package

In [14]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.model_selection import train_test_split

### Set Dataframe

In [13]:
dataset_filename = "assets/avito_dataset.xlsx"
main_df = pd.read_excel(dataset_filename, sheet_name="Sheet1")

## Data Cleaning

### Important Column

In [27]:
# Define important column to predict the price
important_columns = [
    'Цена', 'Метро', 'Метро2', 'Метро. Время', 
    'Район', 'Сегодня просмотров', 'Всего просмотров', 
    'Продавец. Компания', 'Статус', 'Количество комнат',
    'Общая площадь, число', 'Этаж', 'Жилая площадь, число',
    'Санузел', 'Балкон или лоджия', 'Окна',
    'Высота потолков, м', 'Ремонт', 'Способ продажи', 'Мебель',
    'Вид сделки', 'Техника', 'Тип дома', 'Этажей в доме', 'Год постройки',
    'Пассажирский лифт', 'Парковка', 'Двор', 'Грузовой лифт', 'В доме',
    'Тёплый пол', 'Дополнительно', 'Отделка', 'Название новостройки',
    'Корпус, строение', 'Тип участия', 'Площадь кухни, число', 'Тип комнат'
]
main_df = main_df[important_columns]
print(main_df.columns.__len__())
print(important_columns.__len__())

71
38

In [15]:
# Split the data into training (80%), testing (15%), and validation (5%)
train_df, temp_df = train_test_split(main_df, test_size=0.2, random_state=42)
test_df, val_df = train_test_split(temp_df, test_size=0.25, random_state=42)

In [17]:
print(train_df.shape)
print(test_df.shape)
print(val_df.shape)

(15842, 71)
(2970, 71)
(991, 71)

In [18]:
train_df.describe()

,Цена,Номер объявления,Широта,Долгота,Сегодня просмотров,Всего просмотров,Продавец. Рейтинг,Продавец. Кол-во отзывов,"Высота потолков, м",Этажей в доме,Год постройки
count,1.584200e+04,1.584200e+04,15842.000000,15842.000000,10491.00000,15612.000000,2881.000000,15842.000000,5371.000000,15842.000000,4793.000000
mean,7.463564e+06,3.294203e+09,56.815008,60.588962,16.32647,612.256021,3.099271,1.323697,12.909812,17.834996,1991.504903
std,3.722423e+07,3.665092e+08,0.041970,0.067791,62.62906,1985.973966,2.310915,13.801025,148.988524,8.621328,114.629071
min,3.700000e+05,2.773699e+08,56.638994,60.171073,1.00000,1.000000,0.000000,0.000000,0.000000,1.000000,11.000000
25%,4.600000e+06,3.083084e+09,56.780270,60.528880,2.00000,29.000000,0.000000,0.000000,2.600000,9.000000,1978.000000
50%,6.105000e+06,3.417527e+09,56.801030,60.590940,5.00000,121.000000,4.800000,0.000000,2.700000,18.000000,2008.000000
75%,8.300000e+06,3.549979e+09,56.841542,60.635019,12.00000,543.000000,5.000000,0.000000,2.700000,25.000000,2018.000000
max,4.650000e+09,4.002577e+09,57.002206,61.040045,3893.00000,90732.000000,5.000000,1315.000000,3000.000000,52.000000,2026.000000

In [19]:
train_df.head(1)

,Ссылка сбора,Продавец,Контактное лицо,Тип продавца,Пол продавца,Заголовок,Описание,Цена,Регион,Город,...,Дополнительно,Отделка,Название новостройки,"Корпус, строение",Тип участия,Срок сдачи,Площадь кухни,"Площадь кухни, число",Тип комнат,Запланирован снос
17296,https://www.avito.ru/ekaterinburg/kvartiry/pro...,Девелопмент-Юг Екатеринбург,Отдел продаж,Застройщик,Не определено,"1-к. квартира, 40,7 м2, 7/25 эт.",Пpoeкт А+ пpeдставляет собой зaвеpшенный квaрт...,6064300,Свердловская область,Екатеринбург,...,NaN,Чистовая,ЖК «‎А+»,NaN,ДДУ по ФЗ 214,NaN,13 м2,13,NaN,NaN